<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="vaiFormulario()" >
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="usuario.nome" type="text" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="usuario.email" type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="usuario.telefone" type="tel" name="telefone"></ion-input>
    </ion-item>
    
    <ion-button expand="block" 
      fill="solid" 
      size="large"
      color="danger"
      type="submit"
      >Vai Formulário</ion-button>

  </form>

</ion-content>
